.flex-wrapper {
   display: flex;
   flex: 1;
   flex-wrap: wrap;
   justify-content: center;
}

%card-shared {
   margin: ($gutter / 2);
   flex: 1;

   @include double-border($filled:true);
}

.card {
   @extend %card-shared;
}

.text-card {
   @extend %card-shared;
   max-width: 40rem;
   min-width: 50vw;

   h2 {
      margin-top: 0;
   }

   ul, li:last-child {
      margin-bottom: 0;
   }

   p, li {
      text-align: left;
   }

   p {
      line-height: 1.75rem;
   }

   li {
      line-height: 1.5rem;
      margin: 1rem 0;
   }

   p a, li a {
      @include text-link();
   }
}

#description {
   display: flex;
   flex-direction: column;
   flex: 2;

   & > div:not(.btn-group) {
      margin: auto 0;

      p:first-of-type {
         margin-top: 0;
      }
   }
}

#toolbox {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   .tool-wrapper {
      flex: 1;
      min-width: 33%;
      padding: 0.5rem;

      svg {
         display: block;
         fill: $fg;
         height: 2.5rem;
         width: 2.5rem;
         margin: 0 auto;
      }

      p {
         margin: 0;
         text-align: center;
      }
   }
}

@mixin card--sm() {
   %card-shared {
      min-width: calc(344px - 2rem);
   }
}

@mixin card--md($gutter, $border) {
   %card-shared {
      margin: ($gutter / 2);
      @include double-border($border: $border, $filled:true, $padding: $gutter);
   }
}