#contact {
   form {
      margin: 0 auto;
      width: 75%;
      text-align: left;
      
      p {
         font: bold 1rem $pFont;
         
         @include double-border($filled:true);
      }

      input, textarea {
         display: block;
         width: 100%;
         background: mix($bg, $fg, 80%);
         color: $fg;
         border: none;
         border-radius: $border * 3;
         font: bold 1rem $pFont;
         margin: 1rem 0;
         padding: 1rem;
         outline: none;

         &:focus {
            background: $bg;
         }
      }

      textarea {
         height: 8rem;
         resize: vertical;
      }

      input[type="submit"] {
         cursor: pointer;
         
         @include double-border-btn();
      }

      ::placeholder {
         color: mix($bg, $fg, 33%);
      }
   }
}

@mixin contact--md($border) {
   #contact form {
      width: 50%;

      p {
         @include double-border($border: $border, $filled:true);
      }

      input, textarea {
         border-radius: $border * 3;
      }

      input[type="submit"] {
         @include double-border-btn($border: $border, $font-size: 1.5rem);
      }
   }
}