#contact {
   form {
      margin: 0 auto;
      width: 75%;
      text-align: left;
      
      p {
         font: bold 1rem $pFont;

         @include double-border($filled:true);
      }
      
      .input-group {
         span {
            opacity: 0.5;
            float: right;
         }
      }

      input, textarea {
         display: block;
         width: 100%;
         font: bold 1rem $pFont;
         margin: 0 0 1rem 0;
         outline: none;
         -webkit-appearance: none;
         transition: background $btn-transition, 
                     color $btn-transition,
                     border-color 0.1s;

         @include double-border($filled:true);
         background: mix($bg, $fg);

         &.error {
            border-color: $error-red;
         }

         &:valid {
            border-color: $bg;
            // color: $fg;
         }

         &:focus {
            background: $bg;
            
            &::placeholder {
               color: mix($bg, $fg, 20%);
            }
         }

         &::placeholder {
            color: $fg;
         }
      }

      textarea {
         height: 8rem;
         resize: vertical;
      }

      input[type="submit"] {
         cursor: pointer;
         
         @include double-border-btn();
      }
   }
}

@mixin contact--md($border) {
   #contact form {
      width: 50%;

      p {
         @include double-border($border: $border, $filled:true);
      }

      input, textarea {
         border-radius: $border * 3;

         @include double-border($border: $border, $filled:true);
         background: mix($bg, $fg);
      }

      input[type="submit"] {
         @include double-border-btn($border: $border, $font-size: 1.5rem);
      }
   }
}