footer {
   color: #fff8e7;
   margin: 6rem auto 2rem;
   font-size: $username-font-size;
}

#username-links, #username {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#username-links > a {
   @include single-border-icon();
}

#username {
   display: none;
   align-items: baseline;
   transition: margin-left $username-transition;
}

#username-before, #username-after {
   color: transparent;
   transition: color $username-transition;
   flex: 1;
}

#username-before {
   text-align: right;
}

#username-after {
   text-align: left;
}

#username > span:not(#username-before):not(#username-after), #username-small {
   font-size: $username-font-size + 1rem;
   font-weight: $header-weight;
}

#username-small {
   color: #fff8e7;
   display: block;
}

#username-space {
   font-size: 0;
   width: $username-font-size/2;
   transition: width $username-transition $username-transition/2;
}

#username-space.no-width {
   width: 0;
}

@mixin footer--md($border) {
   footer {
      margin: 8rem auto 2rem;
   
      #username-links > a {
         @include single-border-icon($border: $border);
      }

      #username {
         display: flex;
      }

      #username-small {
         display: none;
      }
   }
}