footer {
   color: #fff8e7;
   margin: 6rem auto 2rem;
   font-size: $usernameFontSize;
}

#username-links, #username {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#username-links > a {
   color: #fff8e7;
   font-size: $usernameLinkSize;
   line-height: $usernameLinkSize * 2;
   outline: none;
   text-align: center;
   width: $usernameLinkSize * 2;
   transition: font-size ($usernameTransition / 2);

   &:hover, &:focus {
      font-size: $usernameLinkSize * 7/4;
   }
}

#username {
   display: none;
   align-items: baseline;
   transition: margin-left $usernameTransition;
}

#username-before, #username-after {
   color: transparent;
   transition: color $usernameTransition;
   flex: 1;
}

#username-before {
   text-align: right;
}

#username > span:not(#username-before):not(#username-after), #username-small {
   font-size: $usernameFontSize + 1rem;
   font-weight: bold;
}

#username-small {
   color: #fff8e7;
   display: block;
   text-align: center;
}

#username-space {
   font-size: 0;
   width: $usernameFontSize/2;
   transition: width $usernameTransition $usernameTransition/2;
}

#username-space.no-width {
   width: 0;
}

@mixin footer--md() {
   footer {
      margin: 8rem auto 2rem;
   
      #username {
         display: flex;
      }

      #username-small {
         display: none;
      }
   }
}