body>header {
   background: $fg;
   border-bottom: $border solid $bg;
   line-height: 10vh;
   position: fixed;
   top: 0;
   height: 10vh;
   width: 100%;
   z-index: 100;

   ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      li {
         list-style: none;

         a {
            color: $bg;
            text-decoration: none;
            font-size: $titleFontSize;
         }
      }
   }
}

#logo {
   border: $border solid $bg;
   border-radius: 50%;
   padding: $border;
   height: 6vh;
   width: 6vh;

   svg {
      background: $bg;
      border-radius: 50%;
      height: 100%;
      width: 100%;

      path {
         stroke: $fg;
      }

      .trunk {
         fill: $fg;
      }
   }
}