body > header {
   background: $fg;
   border-bottom: $border solid $fg;
   box-shadow: inset 0 (-$border) $bg;
   position: fixed;
   top: 0;
   height: $headerHeight;
   width: 100%;
   z-index: 100;

   nav {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      height: 100%;
      max-width: ($masonrySize * $maxColumns) + ($gutter * ($maxColumns + 1));

      ul {
         display: flex;
         flex-wrap: wrap;
         flex: 1;
         justify-content: space-around;
         margin: 0;
         padding: 0;

         li {
            list-style: none;

            a {
               display: block;
               margin: $border;
               padding: 0.25rem 0.5rem;
               text-decoration: none;
               font: bold 0.75rem $headingFont;

               @include single-border();
            }
         }
      }
   }
}

#logo {
   align-self: flex-end;
   flex-shrink: 0;
   height: calc(#{$headerHeight} - (#{$border} * 2));
   width: calc(#{$headerHeight} - (#{$border} * 2));
   outline: none;
   
   @include double-border(50rem, $filled:true, $padding: 0);

   svg {
      height: 100%;
      width: 100%;
      pointer-events: unset;

      path {
         stroke: $fg;
      }

      .trunk {
         fill: $fg;
      }
   }
}

@mixin header--sm() {
   body > header nav ul li a {
      font: bold 1rem $headingFont;
   }
}

@mixin header--md($headerHeight, $gutter, $border, $masonrySize, $titleFontSize) {
   body > header {
      border-bottom: $border solid $fg;
      box-shadow: inset 0 (-$border) $bg;
      height: $headerHeight;

      nav {
         max-width: ($masonrySize * $maxColumns) + ($gutter * ($maxColumns + 1));

         ul li a {
            font: bold 1.5rem $headingFont;
            margin: ($border * 2);
            padding: 0.5rem 1rem;

            @include single-border($border: $border);
         }
      }
      
      #logo {
         height: calc(#{$headerHeight} - (#{$border} * 2));
         width: calc(#{$headerHeight} - (#{$border} * 2));

         @include double-border(50rem, $border: $border, $filled:true, $padding: 0);
      }
   }
}