* {
   box-sizing: border-box;
}

html {
   font-size: 16px;
}

body {
   background: $fg;
   color: $bg;
   margin: 0;
   font-family: $headingFont;
   line-height: 1.25;

   & > section {
      max-width: ($masonrySize * $maxColumns) + ($gutter * ($maxColumns + 1));
      margin: 0 auto;
      padding: 0 $gutter;

      & > h1 {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-size: 1.5rem;
         margin: 2rem 0;
      }

      & > h1:before, & > h1:after {
         content: "";
         background: $bg;
         border-radius: 0.5rem;
         flex-grow: 1;
         height: $border;
         min-width: 3rem;
      }

      & > h1:before {
         margin-right: 0.5rem;
      }

      & > h1:after {
         margin-left: 0.5rem;
      }
   }
}

@mixin main--sm() {
   body > section > h1 {
      font-size: 5vmin;
   }
}

@mixin main--md($gutter, $border, $masonrySize) {
   body > section {
      max-width: ($masonrySize * $maxColumns) + ($gutter * ($maxColumns + 1));
      padding: 0 $gutter;
      
      & > h1 {
         font-size: 2.5rem;
      }

      & > h1:before, & > h1:after {
         height: $border;
      }
   }
}