@media (min-width: 376px) and (min-height: 376px) {
   @include main--sm();
   @include header--sm();
   @include intro--sm();
}

@media (min-width: 768px) and (min-height: 768px) {
   $headerHeight: 8vh;
   $gutter: $gutter * 2;
   $border: $border * 2;
   $masonrySize: $masonrySize * 1.5;
   $titleFontSize: $titleFontSize * 1.6;

   @include main--md($gutter, $border, $masonrySize);
   @include header--md($headerHeight, $gutter, $border, $masonrySize, $titleFontSize);
   @include intro--md($headerHeight, $border);
   @include portfolio--md($headerHeight, $gutter, $border, $masonrySize, $titleFontSize);
   @include contact--md($border);
   @include footer--md();
}