@media (min-width: 376px) and (min-height: 376px) {
   @include main--sm();
   @include card--sm();
   @include header--sm();
   @include intro--sm();
   @include project--sm();
}

@media (min-width: 768px) and (min-height: 768px) {
   $header-height: 8vh;
   $gutter: $gutter * 2;
   $border: $border * 2;
   $masonry-size: $masonry-size * 1.5;
   $title-font-size: $title-font-size * 1.6;

   @include main--md($header-height, $gutter, $border, $masonry-size);
   @include card--md($gutter, $border);
   @include header--md($header-height, $gutter, $border, $masonry-size);
   @include intro--md($header-height, $gutter, $border);
   @include portfolio--md($header-height, $gutter, $border, $masonry-size, $title-font-size);
   @include contact--md($gutter, $border);
   @include footer--md($border);
   @include thanks--md($gutter, $border);
   @include project--md($gutter, $border);
   @include featherlight--md($gutter, $border);
}