#portfolio {
   margin-top: $headerHeight;
}

.grid {
   margin: 0 auto;
}

.grid:after {
   content: '';
   display: block;
   clear: both;
}

.grid-sizer, .grid-item {
   width: $masonrySize;
   height: $masonrySize;
}

.grid-sizer {
   position: absolute;
}

.gutter-sizer {
   width: $gutter;
}

.grid-item {
   float: left;
   margin-bottom: $gutter;
   outline: none;
   position: relative;

   &:hover .title-overlay, &:focus .title-overlay {
      opacity: 1 !important;
   }

   &:active .title-overlay {
      box-shadow: inset 0 0 0 ($border * 2) $fg;
   }

   img {
      border: $border solid $bg;
      border-radius: $border * 3;
      padding: $border;
      width: $masonrySize;
      height: $masonrySize;
   }

   .thumb-md {
      display: none;
   }

   .title-overlay {
      background: $bg;
      border: $border solid $bg;
      border-radius: $border * 3;
      box-shadow: inset 0 0 0 $border $fg;
      padding: ($titleFontSize / 5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity $btn-transition,
                  box-shadow 0.1s;

      .title, .tags {
         width: 100%;
      }

      .title {
         color: $fg;
         margin: 0;
         font-size: $titleFontSize;
         text-align: center;
      }

      .tags {
         text-align: center;
         margin: ($titleFontSize / 10) 0;

         p {
            color: $bg;
            background: $fg;
            padding: ($titleFontSize / 5) ($titleFontSize / 2);
            border-radius: 5rem;
            display: inline-block;
            margin: ($titleFontSize / 10) 0;
         }
      }
   }
}

.grid-item--width2, .grid-item--width2 img {
   width: ($masonrySize * 2) + $gutter;
}

.grid-item--height2, .grid-item--height2 img {
   height: ($masonrySize * 2) + $gutter;
}

@mixin portfolio--md($headerHeight, $gutter, $border, $masonrySize, $titleFontSize) {
   #portfolio {
      margin-top: $headerHeight;
   }

   .grid-sizer, .grid-item {
      width: $masonrySize;
      height: $masonrySize;
      margin-bottom: $gutter;
   }

   .gutter-sizer {
      width: $gutter;
   }

   .grid-item {
      img {
         border: $border solid $bg;
         border-radius: $border * 3;
         padding: $border;
         width: $masonrySize;
         height: $masonrySize;
      }

      .thumb-sm {
         display: none;
      }

      .thumb-md {
         display: unset;
      }
      
      .title-overlay {
         border: $border solid $bg;
         border-radius: $border * 3;
         box-shadow: inset 0 0 0 $border $fg;
         padding: ($titleFontSize / 5);
   
         .title {
            font-size: $titleFontSize;
         }
   
         .tags {
            margin: ($titleFontSize / 10) 0;
   
            p {
               padding: ($titleFontSize / 5) ($titleFontSize / 2);
               margin: ($titleFontSize / 10) 0;
            }
         }

         &:active {
            box-shadow: inset 0 0 0 ($border * 2) $fg;
         }
      }
   }
   
   .grid-item--width2, .grid-item--width2 img {
      width: ($masonrySize * 2) + $gutter;
   }
   
   .grid-item--height2, .grid-item--height2 img {
      height: ($masonrySize * 2) + $gutter;
   }
}