#portfolio {
   background: $fg;
   max-width: $masonrySize * $maxColumns;
   margin: 10vh auto 0;
}

.grid {
   margin: 0 auto;
}

.grid:after {
   content: '';
   display: block;
   clear: both;
}

.grid-sizer, .grid-item {
   width: $masonrySize;
   height: $masonrySize;
   float: left;
}

.grid-item {
   a {
      display: inline-block;
      position: relative;
   }

   img, #portfolio-description {
      border: $border solid $bg;
      border-radius: $border * 3;
      padding: $border;
      width: $masonrySize - ($gutter * 2);
      height: $masonrySize - ($gutter * 2);
      margin-left: $gutter;
      margin-top: $gutter;
   }

   .title-overlay {
      background: $bg;
      border-radius: $border;
      margin: ($gutter + ($border * 2)) ($border * 2) ($border * 2) ($gutter + ($border * 2));
      padding: ($titleFontSize / 5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: $border * 2;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.35s ease-in-out;

      .title {
         color: $fg;
         margin: 0;
         font-size: $titleFontSize;
         text-align: center;
      }

      .tags {
         text-align: center;
         margin: ($titleFontSize / 10) 0;

         h4 {
            color: $bg;
            background: $fg;
            padding: ($titleFontSize / 5) ($titleFontSize / 2);
            border-radius: 5rem;
            display: inline-block;
            margin: ($titleFontSize / 10) 0;
         }
      }
   }

   .title-overlay:hover {
      opacity: 1 !important;
   }
}

.grid-item--width2{
   width: ($masonrySize * 2);

   img, #portfolio-description {
      width: ($masonrySize * 2) - ($gutter * 2);
   }
}

.grid-item--height2 {
   height: ($masonrySize * 2);

   img, #portfolio-description {
      height: ($masonrySize * 2) - ($gutter * 2);
   }
}

#portfolio-description section {
   background: $bg;
   color: $fg;
   height: 100%;
   width: 100%;
   border-radius: $border;
   padding: $titleFontSize * 0.8;

   h1{
      font-size: $titleFontSize * 1.2;
      margin: 0;
   }

   p {
      font-family: $pFont;
      font-size: $titleFontSize;
      margin: ($titleFontSize * 0.8) 0;
   }
}


@media (min-width: 768px) {
   $gutter: $gutter * 2;
   $border: $border * 2;
   $masonrySize: $masonrySize * 1.5;
   $titleFontSize: $titleFontSize * 1.6;

   #portfolio {
      max-width: $masonrySize * $maxColumns;
   }

   .grid-sizer, .grid-item {
      width: $masonrySize;
      height: $masonrySize;
   }

   .grid-item {
      img, #portfolio-description {
         border: $border solid $bg;
         border-radius: $border * 3;
         padding: $border;
         width: $masonrySize - ($gutter * 2);
         height: $masonrySize - ($gutter * 2);
         margin-left: $gutter;
         margin-top: $gutter;
      }
      
      .title-overlay {
         border-radius: $border;
         margin: ($gutter + ($border * 2)) ($border * 2) ($border * 2) ($gutter + ($border * 2));
         padding: ($titleFontSize / 5);
         bottom: $border;
   
         .title {
            font-size: $titleFontSize;
         }
   
         .tags {
            margin: ($titleFontSize / 10) 0;
   
            h4 {
               padding: ($titleFontSize / 5) ($titleFontSize / 2);
               margin: ($titleFontSize / 10) 0;
            }
         }
      }
   }
   
   .grid-item--width2{
      width: ($masonrySize * 2);
   
      img, #portfolio-description {
         width: ($masonrySize * 2) - ($gutter * 2);
      }
   }
   
   .grid-item--height2 {
      height: ($masonrySize * 2);
   
      img, #portfolio-description {
         height: ($masonrySize * 2) - ($gutter * 2);
      }
   }
   
   #portfolio-description section {
      border-radius: $border;
      padding: $titleFontSize * 1.5;

      h1{
         font-size: $titleFontSize * 1.5;
      }
   
      p {
         font-size: $titleFontSize * 0.75;
         margin: $titleFontSize 0;
      }
   }

   .lg-outer .lg-image {
      border: $border solid $bg;
      border-radius: $border * 3;
      padding: $border;
   }
}