#portfolio {
   background: $fg;
   max-width: $masonrySize * $maxColumns;
   margin: 10vh auto;
}

.grid {
   margin: 0 auto;
}

.grid:after {
   content: '';
   display: block;
   clear: both;
}

.grid-sizer, .grid-item {
   width: $masonrySize;
   height: $masonrySize;
   float: left;
}

.grid-item {
   a {
      display: inline-block;
      position: relative;
   }

   img, #portfolio-description {
      border: ($gutter / 6) solid $bg;
      border-radius: ($gutter / 2);
      padding: ($gutter / 6);
      width: $masonrySize - ($gutter * 2);
      height: $masonrySize - ($gutter * 2);
      margin-left: $gutter;
      margin-top: $gutter;
   }

   .title-overlay {
      background: $bg;
      border-radius: ($gutter / 6);
      margin: ($gutter * (4/3)) ($gutter / 3) ($gutter / 3) ($gutter * (4/3));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: ($gutter / 12);
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;

      .title {
         color: $fg;
         margin: 0;
         font-size: $titleFontSize;
         text-align: center;
      }

      .tags h4 {
         color: $bg;
         background: $fg;
         padding: 0.5rem;
         border-radius: 5rem;
         display: inline-block;
         margin: 0.5rem 0;
      }
   }

   .title-overlay:hover {
      opacity: 1;
   }
}

.grid-item--width2{
   width: ($masonrySize * 2);

   img, #portfolio-description {
      width: ($masonrySize * 2) - ($gutter * 2);
   }
}

.grid-item--height2 {
   height: ($masonrySize * 2);

   img, #portfolio-description {
      height: ($masonrySize * 2) - ($gutter * 2);
   }
}

#portfolio-description section {
   background: $bg;
   color: $fg;
   height: 100%;
   width: 100%;
   border-radius: ($gutter / 6);
   padding: calc(1rem / 3) 1rem;
}

@media (min-width: 375px) {
   
}