.project-intro {
   min-height: 40vmin;

   .intro-text {
      top: 0;

      h1 {
         margin: 0 1rem;
      }
   }

   svg.terrain {
      height: 40vmin;
      max-width: 100vmin;
   }

   div.terrain {
      height: 0;
      width: 0;
      padding: 20vmin 50vw;
   }
}

.btn-group.inv {
   .arrow {
      flex-shrink: 0;
      @include double-border-btn(50rem, $inv:true, $padding:0);

      &:hover, &:focus {
         svg {
            stroke: $bg;
         }
      }

      svg {
         stroke: $fg;
      }
   }
}

.btn-group:not(.inv) {
   .arrow {
      @include double-border-btn(50rem, $padding:0);

      &:hover, &:focus {
         svg {
            stroke: $fg;
         }
      }

      svg {
         stroke: $bg;
      }
   }
}

.btn-group {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;

   .arrow {
      height: 3rem - ($border * 2);
      width: 3rem - ($border * 2);
      margin: $border;
      pointer-events: all;
      text-decoration: none;

      svg {
         fill: none;
         stroke-linecap: round;
         stroke-linejoin: round;
         stroke-width: 0.5px;
         height: 100%;
         width: 100%;
         padding: calc(#{$border} - 1px);
         transition: stroke $btn-transition;

         circle {
            stroke: none;
         }
      }
   }
}

#google-doodle-bg {
   background: url(/img/google-doodle/google-doodle.png) center/cover no-repeat;
   opacity: 0.15;
}

#movie-collection-bg {
   background: url(/img/movie-collection/movie-collection.png) center 10%/cover no-repeat;
   opacity: 0.15;
}

#movie-trailer-website-bg {
   background: url(/img/movie-trailer-website/movie-trailer-website.png) center/cover no-repeat;
   opacity: 0.25;
}

#preflight-poster-bg {
   background: url(/img/preflight-poster/preflight-poster.png) center 10%/cover no-repeat;
   opacity: 0.25;
}

#puzzle-game-bg {
   background: url(/img/puzzle-game/puzzle-game.png) center/cover no-repeat;
   opacity: 0.25;
}

#spokane-signal-box-bg {
   background: url(/img/spokane-signal-box/spokane-signal-box.png) center 75%/cover no-repeat;
   opacity: 0.15;
}

#movie-trailer-website .tool-wrapper {
   min-width: 50%;
}

#images {
   figure {
      margin: ($gutter * 2) 0;
      @include double-border($filled:true);

      &:first-of-type {
         margin-top: 0;
      }

      figcaption {
         margin-top: $gutter - ($border * 2);
      }

      img {
         width: 100%;
         vertical-align: bottom;
      }

      iframe {
         height: 480px;
         width: 100%;
      }
   }
}

@mixin project--sm() {
   .project-intro .intro-text {
      top: 5vmin;
   }
}

@mixin project--md($gutter, $border) {
   .btn-group.inv {
      .arrow {
         @include double-border-btn(50rem, $border, $font-size:1.5rem, $inv:true, $padding:0);
      }
   }
   
   .btn-group:not(.inv) {
      .arrow {
         @include double-border-btn(50rem, $border, $font-size:1.5rem, $padding:0);
      }
   }

   .btn-group {
      .arrow {
         height: 4.5rem - ($border * 2);
         width: 4.5rem - ($border * 2);
         margin: $border;

         svg {
            padding: calc(#{$border} - 1px);
         }
      }
   }

   #github-link {
      @include double-border-btn(50rem, $border: $border, $font-size: 1.25rem, $inv:true, $padding: 1rem);
   }

   #images {
      figure {
         margin: ($gutter * 2) 0;
         @include double-border($border: $border, $filled:true, $padding:$gutter);

         figcaption {
            margin-top: $gutter - ($border * 2);
         }
      }
   }
}