//Colors
$bg: hsl(43, 100%, 95%); //Cosmic Latte: The average color of the universe
$fg: hsl(80, 40%, 20%);
$error-red: hsl(8, 80%, 60%);

//Fonts
$header-font: 'Dosis', sans-serif;
$body-font: 'Dosis', sans-serif;
$header-weight: 700;
$body-weight: 500;

//Transitions
$btn-transition: 0.25s ease-in-out;

//Header
$header-height: 3rem;

//Intro
$layers: 6;

//Masonry
$masonry-size: 10rem;
$gutter: 1rem;
$max-columns: 4;
$border: 0.125rem;
$title-font-size: 1.25rem;

//Footer
$username-font-size: 1rem;
$username-transition: 0.5s;