//Colors
$bg: hsl(43, 100%, 95%);
$fg: hsl(80, 40%, 20%);

//Fonts
$headingFont: 'Quicksand', sans-serif;
$pFont: 'Montserrat', sans-serif;

//Header
$layers: 6;
$treeCount: 20;

//Masonry
$gutter: 1rem;
$masonrySize: 10rem;
$maxColumns: 4;
$titleFontSize: 1.25rem;