//Colors
$bg: hsl(43, 100%, 95%);
$fg: hsl(80, 40%, 20%);

//Fonts
$headingFont: 'Comfortaa', sans-serif;
$pFont: 'Montserrat', sans-serif;

//Intro
$layers: 6;
$treeCount: 20;

//Masonry
$masonrySize: 10rem;
$gutter: 0.5rem;
$maxColumns: 4;
$border: 0.125rem;
$titleFontSize: 1.25rem;

//Footer
$usernameFontSize: 1rem;
$usernameLinkSize: 1.66rem;
$usernameTransition: 0.5s;