//Colors
$bg: hsl(43, 100%, 95%); //Cosmic Latte: The average color of the universe
$fg: hsl(80, 40%, 20%);

//Fonts
$headingFont: 'Comfortaa', sans-serif;
$pFont: 'Montserrat', sans-serif;

//Transitions
$btn-transition: 0.3s ease-in-out;

//Header
$headerHeight: 12vh;

//Intro
$layers: 6;
$treeCount: 20;

//Masonry
$masonrySize: 10rem;
$gutter: 1rem;
$maxColumns: 4;
$border: 0.125rem;
$titleFontSize: 1.25rem;

//Footer
$usernameFontSize: 1rem;
$usernameLinkSize: 1.75rem;
$usernameTransition: 0.5s;