@import url('https://fonts.googleapis.com/css?family=Montserrat|Comfortaa');
@import "variables";
@import "mixins";
@import "normalize";
@import "main";
@import "header";
@import "intro";
@import "portfolio";
@import "about";
@import "contact";
@import "footer";
@import "thanks";
@import "media-queries";